.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  margin: 50px;
  height: auto;
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 30px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.input-wrapper{
  margin-top: 30px;
}
.input-wrapper .text-field{
  width: 400px;
}
.btn-group{
  margin-top: 30px;
}
.custom-input-font-color {
  color: #ff5733; /* Your custom font color */
}
.navbar-wrapper{
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
Link{
  text-decoration: none;
  color: #fff;
}
.table-wrapper{
  width: 80%;
  background-color: black;
}
.navbar{
  display: flex;
  gap: 100px;
}




